node_modules
dist
build
coverage
.vscode
.idea
.environment
.tevun
.github
.husky
public
postcss.config.js
tailwind.config.js
craco.config.js
commitlint.config.js
src/styles.scss
src/assets/*
**/*.scss
